* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 100vw;
  min-height: 100vh;
}

#app {
  padding: 10px;
  font-family: Arial, sans-serif;
}

#app .title {
  font-size: 1.5em;
  color: teal;
  text-align: center;
  margin: 20px 0 0 0;
}

#app .choice-block {
  margin: 10px 0;
  min-width: 100%;
}

#app .choice-block .choice-list {
  margin: 0 auto;
  max-width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  font-size: 3em;
}

#app .choice-block .choice-list .choice-variant {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin: 0 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

#app .choice-block .choice-list .choice-variant:hover {
  -webkit-animation: prepick infinite .5s linear alternate;
          animation: prepick infinite .5s linear alternate;
}

#app .choice-block .choice-list .choice-variant:active {
  -webkit-transform: rotate(-80deg) scale(0.9);
          transform: rotate(-80deg) scale(0.9);
}

#app .sides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#app .sides .versus {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: crimson;
  font-family: serif;
  font-size: 1.6em;
}

#app .sides .player-side {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#app .sides .player-side .side-title {
  font-size: 1.5em;
  color: royalblue;
}

#app .sides .player-side .history {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-size: 1.6em;
  opacity: .3;
}

#app .sides .player-side .history-current {
  font-size: 3.4em;
  opacity: 1;
  border-radius: 50%;
}

#app .sides #computer .history {
  -webkit-transform: rotate(-90deg) scale(-1);
          transform: rotate(-90deg) scale(-1);
}

@-webkit-keyframes prepick {
  0% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  50% {
    -webkit-transform: rotate(-80deg);
            transform: rotate(-80deg);
  }
  100% {
    -webkit-transform: rotate(-70deg);
            transform: rotate(-70deg);
  }
}

@keyframes prepick {
  0% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  50% {
    -webkit-transform: rotate(-80deg);
            transform: rotate(-80deg);
  }
  100% {
    -webkit-transform: rotate(-70deg);
            transform: rotate(-70deg);
  }
}
